<button (click)="getEmployees()">get employees</button>

<div>
    <div>
        <ul>
            @for (employee of employees; track employee.id) {
                <li>
                    <strong>{{ employee.firstName }} {{ employee.lastName }}</strong>
                    <div>Id: {{ employee.id }}</div>
                    <div>Department Id: {{ employee.departmentId ?? 'N/A' }}</div>
                    <div>Department: {{ employee.department?.name ?? 'N/A' }}</div>
                    <div>Salary: {{ employee.salary }}</div>
                </li>
            } @empty {
                <li>no employees</li>
            }
        </ul>
    </div>
    <div>
        <p>enter employee id</p>
        <input #employeeIdInput type="number">
        <button (click)="getEmployeeById(employeeIdInput.valueAsNumber)"> find employee</button>
        @if (employee) {
            <strong>{{ employee.firstName }} {{ employee.lastName }}</strong>
            <div>Id: {{ employee.id }}</div>
            <div>Department Id: {{ employee.departmentId ?? 'N/A' }}</div>
            <div>Department: {{ employee.department?.name ?? 'N/A' }}</div>
            <div>Salary: {{ employee.salary }}</div>
        } @else {
            
        }
    </div>
    <div>
        <p>add a new employee</p>

        @if(addEmployeeSuccessMessage){
            <p>{{addEmployeeSuccessMessage}}</p>
        }

        <input #firstNameInput type="text" placeholder="first name">
        <input #lastNameInput  type="text" placeholder="last name">
        <input #salaryInput type="number" placeholder="salary">
        <input #departmentIdInput type="number" placeholder="department id">

        <button
            (click)="addEmployee(
            {
                firstName: firstNameInput.value,
                lastName: lastNameInput.value,
                salary: salaryInput.valueAsNumber,
                departmentId: departmentIdInput.valueAsNumber
            } 
            )"
        >add employee</button>
    </div>
</div>
